.contauner {
    padding: 20px;
}
.box {
    height: 10px;
    display: block;
    background-color: red;
}
.message-error {
    opacity: 0;
    color: white;
    background-color: red;
    padding: 4px;
    display: block;
    transition: all linear 0.5s;
}
.message-error.show {
    opacity: 1;
    transition: all linear 0.5s;
}