<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler($event)"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->
      <section class="main">
        <ul class="todo-list">
          @for (task of tasksByFilter(); track task; let i = $index) {
            <li
              (dblclick)="updateTaskEditingMode(i)"
              [class.completed]="task.completed === true"
              [class.editing]="task.editing">
              <div class="view" >
                <input class="toggle" type="checkbox"  [checked]="task.completed" (change)="updateTask(i)"/>
                <label>{{ task.title }}</label>
                <button class="destroy" (click)="deleteTaks(i)"></button>
              </div>
              <input class="edit" [value]="task.title" (keydown.enter)="updateTaskText(i, $event)"/>
            </li>
          }
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      @if (tasks().length > 0) {
        <footer class="footer">
          <!-- This should be `0 items left` by default -->
          <span class="todo-count"><strong>{{ tasksByFilter().length }}</strong>
          @if (tasks().length <= 1) {
            <span> item</span>
          } @else {
            items
          }
        </span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a (click)="changeFilter('all')" [class.selected]="filter() === 'all'">All</a>
          </li>
          <li>
            <a (click)="changeFilter('pending')" [class.selected]="filter() === 'pending'">Pending</a>
          </li>
          <li>
            <a (click)="changeFilter('completed')" [class.selected]="filter() === 'completed'">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed">Clear completed</button>
      </footer>
    }
  </div>
</section>
<app-footer></app-footer>